# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
build/
dist/

# Editor/IDE specific files
.vscode/
.idea/

# Package lock files
package-lock.json
yarn.lock

# Testing files
coverage/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Cache and temp files
*.cache/
*.tmp/

# Firebase service account JSON file (add the specific file)
pchat-2442c-firebase-adminsdk-rfbd2-e39586eda9.json
