# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
build/
dist/

# Editor/IDE specific files
.vscode/
.idea/

# Package lock files
package-lock.json
yarn.lock

# Testing files
coverage/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Cache and temp files
*.cache/
*.tmp/